/* styles/globals.css */
* {
  font-family: "math";
  margin: 0px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(#e2cec0, #fffffe);
  color: #333;
}
/* Media query para pantallas mayores que una tablet */
@media (min-width: 768px) {
  body {
    padding-left: 25%;
    padding-right: 25%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

section {
  background-color: #f9f9f9;
  border-radius: 12px;
}