* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #000000e0;
  padding: 0px;
  margin: 0px 22%;
  text-align: center;
  position: -webkit-sticky;
}

.descriptionStyle {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: -80px;
};

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.whatsappChat {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 5%;
}
.whatsappChat:hover {
  cursor: pointer;
}

.mainTitle {
  background-color:antiquewhite ;
}
.mainTitle p {
  margin: 0px;
  font-size: 20px
}
.TitleDiv {
  background: linear-gradient(rgba(243, 127, 243, 0.46), rgba(255, 0, 0, 0.51));
  margin: 0px;
  font-size: 25px;
  color:aliceblue;
  text-align: center;
  box-shadow: 0px 3px 2px 1px rgba(255, 0, 0, 0.51);
  border-radius: 50px;
}


.MainProgrammingLanguages div {
  display: inline-block;
}

.tecnologies {
  width: 120px;
  border:#d100ae solid 1px;
  border-radius: 15px;
  margin: 8px;
  padding: 5px;
  transition: border 0.3s ease, color 0.3s ease;
  
}

.tecnologies h1 {
  font-size: 19px;
  color: aliceblue;
  transition: font-size 0.3s ease, color 0.3s ease;
  
}

.tecnologies:hover {
  border: #00ffd0 solid 2px;
}
.tecnologies:hover h1 {
  color: #00ffd0;
  font-size: 20px;
}

.proyectCard {
  background: linear-gradient(#00000000, #53194c8a, #ffffff00);
}

.proyectCard hr {
  margin: 0px;
}
.proyectCardDescription {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



/* ImgCardsContainer.module */
.imgCardsContainer {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0px;
}
.imgCardsContainer * {
  text-decoration: none;
}

.imgCardsContainer::-webkit-scrollbar {
  display: none; /* Ocultar barra de desplazamiento en WebKit */
}

.imgCardsContainer {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* ------------------------- */

/* ------------------------- */
.VideoSection {
  margin: 20px auto;
  margin-top: 15px;
  text-align: center;
  color: #fff;
}
.VideoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  border-radius: 15px;
}

.VideoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
/* ------------------------- */

/* ----------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------- */


@media screen and (max-width: 1000px) {}

@media screen and (max-width: 700px) {}

@media screen and (max-width: 600px) {}

/* ----------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 394px) {
  /* MEDIA QUERYS XIAOMY REDMI 5G === 373*657 en compu  */
  * {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  html,
  body {
    margin: 0px 0px;
  }
  .whatsappChat {
    margin-right: 23%;
  }
  .marginRight21ForPhones {
    margin-right: 21%
  };


  .tecnologies {
    width: 110px;
  }
  .description {
    padding: 5px 5px
  }

}